<button (click)="moveLeft()">Move Left</button>
<button (click)="moveRight()">Move Right</button>
<div id="timelineSliderHolder">
  <div id="dots">
    <div *ngFor="let dot of dots; index as i">
      <p
        (click)="handleDotClick(i)"
        id="{{ dot.id }}"
        class="dot"
        [ngClass]="currentTimeline.index === i ? 'selected' : 'unselected'"
      ></p>
    </div>
  </div>
  <div id="line">
    <div class="years">
      <p><span>20</span>13</p>
    </div>
    <div class="years">
      <p><span>20</span>14</p>
    </div>
    <div class="years">
      <p><span>20</span>15</p>
    </div>
    <div class="years">
      <p><span>20</span>16</p>
    </div>
    <div class="years">
      <p><span>20</span>17</p>
    </div>
    <div class="years">
      <p><span>20</span>18</p>
    </div>
    <div class="years">
      <p><span>20</span>19</p>
    </div>
    <div class="years">
      <p><span>20</span>20</p>
    </div>
  </div>
</div>
