<div id="timelineSliderHolder">
  <div id="line">
    <div class="years">
      <p><span>20</span>12</p>
    </div>
    <div class="years">
      <p><span>20</span>13</p>
    </div>
    <div class="years">
      <p><span>20</span>14</p>
    </div>
    <div class="years">
      <p><span>20</span>15</p>
    </div>
    <div class="years">
      <p><span>20</span>16</p>
    </div>
    <div class="years">
      <p><span>20</span>17</p>
    </div>
    <div class="years">
      <p><span>20</span>18</p>
    </div>
    <div class="years">
      <p><span>20</span>19</p>
    </div>
    <div class="years">
      <p><span>20</span>20</p>
    </div>
  </div>
</div>
