header {
  position: relative;
  top: 0;
  background: white;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 50px;
  color: rgb(0, 0, 56);
  font-family: "Fugaz One", sans-serif;
  margin: 0px 10px 0px 0px;
  border-bottom: 3px solid rgb(0, 0, 56);
}
#logoWrapper {
  opacity: 0;
  animation: fadeIn 0.5s linear 0.5s forwards;
}
#headerLogo {
  width: 110px;
  display: none;
}
.selected {
  margin: 5px;
  border-radius: 10px;
  background: yellow;
}
.tinyPath {
  stroke-dasharray: 93;
  animation: continueDash 20s linear 2s;
  animation-iteration-count: infinite;
}
@keyframes continueDash {
  to {
    stroke-dashoffset: 200;
  }
}
@keyframes strokeFromLeft {
  to {
    width: 99%;
  }
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
#smallLogo {
  border: 3px solid rgb(0, 0, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 5px;
  margin-left: 10px;
}
#mediumLogo {
  display: none;
}
#largeLogo {
  display: none;
}
nav {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  animation: fadeIn 0.5s linear 0.5s forwards;
}
a {
  color: rgb(0, 0, 56);
  text-decoration: none;
}
.fas {
  margin-right: 20px;
  font-size: 30px;
}

#bigNav {
  display: none;
}
#smallNav li:hover {
  background: yellow;
}
.hideHome {
  visibility: hidden;
  transition: "1000ms";
}
#smallNav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  overflow: hidden;
  top: 100%;
  right: 0;

  z-index: 2;
  transition: all 2s ease-in-out;
}
#smallNav li {
  border: 1px solid rgb(0, 0, 56);
  background: white;
  text-align: center;
  padding: 5px;
}
li {
  list-style: none;
  width: 100%;
}

i {
  font-size: 40px;
  padding: 5px;
}

@media screen and (min-width: 869px) {
  #bigNav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  #smallLogo {
    display: none;
  }
  #mediumLogo {
    border: 3px solid rgb(0, 0, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 15px 10px;
    margin-left: 10px;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  #mediumLogo svg {
    z-index: 1;
  }
  #mediumLogo:hover {
    transform: scale(1.05);
  }
  #mediumLogo:hover > .strokeFromLeft {
    animation: strokeFromLeft 0.2s forwards linear;
  }
  .strokeFromLeft {
    position: absolute;
    left: -10px;
    width: 0;
    height: 70%;
    background: rgb(0, 191, 255);
    z-index: 0;
    transform: skew(25deg);
  }
  nav {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 10px;
    height: 100%;
  }

  /* #mediumLogo:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
  } */
  li {
    height: 50%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 140px;
    transition: all 0.25s ease-in-out;
  }
  .line {
    position: absolute;
    left: 0;
    height: 70%;
    background: rgb(0, 191, 255);
    width: 10%;
    z-index: -1;
    transform: skewX(-15deg);
  }
  .blue {
    background: rgb(0, 0, 56);
  }
  .lightblue {
    background: rgb(0, 191, 255);
  }
  .yellow {
    background: yellow;
  }
  li:hover > .line {
    animation: slideIn 0.25s ease-in-out forwards;
  }
  li:hover > .lightblue + a {
    color: rgb(0, 0, 56);
  }
  @keyframes slideIn {
    to {
      width: 100%;
    }
  }
  a {
    font-size: 20px;
    height: 0;
    padding: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #about:hover {
    color: rgb(0, 0, 56);
  }
  #logoWrapper a:hover {
    border: none;
  }
  #contact {
    padding: 12px 6px 12px 6px;
  }
  #contact:hover {
    border-color: rgb(0, 191, 255);
  }
  a:hover {
    font-weight: bold;
    color: rgb(0, 191, 255);
    transition-duration: 0.5s;

    /* padding: 16px 10px 16px 10px; */
  }

  header {
    height: 0px;
    overflow: hidden;
    animation: expand 0.5s linear 0.5s forwards;
  }

  #dropDownNav {
    display: none;
  }
  .activeRoute {
    width: 100%;
    color: rgb(0, 191, 255);
    /* background-color: yellow;

    padding: 16px 10px 16px 10px;
    border-radius: 10px;
    transition-duration: 0.5s; */
  }
  .activeRouteAbout {
    color: rgb(0, 0, 56);
  }
  #about.activeRoute {
    color: rgb(0, 0, 56);
  }
  .activeRoute + .line {
    width: 100%;
  }

  #headerLogo {
    width: 200px;
  }
  #smallLogo {
    margin-left: 20px;
  }
  @keyframes expand {
    to {
      height: 100px;
    }
  }
}

@media screen and (min-width: 1400px) {
  a {
    font-size: 23px;
  }
  li {
    width: 160px;
  }
}
