<body>
  <nav>
    <i class="fas fa-times" (click)="closeNav()"></i>
    <ul id="bigNav">
      <li>
        <div class="line blue" [ngClass]="{ open: route === 'projects' }"></div>
        <a (click)="handleRouteClick('projects')"> PROJECTS</a>
      </li>
      <li>
        <div
          class="line lightblue"
          [ngClass]="{ open: route === 'story' }"
        ></div>
        <a (click)="handleRouteClick('story')"> ABOUT ME</a>
      </li>

      <li>
        <div
          class="line yellow"
          [ngClass]="{ open: route === 'contact' }"
        ></div>
        <a (click)="handleRouteClick('contact')" id="contact"> CONTACT</a>
      </li>
    </ul>
  </nav>
  <div class="spaceHolder" (click)="closeNav()"></div>
</body>
