<body>
  <nav>
    <i class="fas fa-times" (click)="closeNav()"></i>
    <ul id="bigNav">
      <li>
        <a
          (click)="handleRouteClick('projects')"
          routerLinkActive="activeRoute"
          routerLink="/projects"
        >
          PROJECTS</a
        >
        <div class="line blue" [ngClass]="{ open: route === 'projects' }"></div>
      </li>
      <li>
        <a
          (click)="handleRouteClick('story')"
          routerLinkActive="activeRoute"
          routerLink="/story"
          id="about"
        >
          ABOUT ME</a
        >
        <div
          class="line lightblue"
          [ngClass]="{ open: route === 'story' }"
        ></div>
      </li>

      <li>
        <a
          (click)="handleRouteClick('contact')"
          id="contact"
          routerLinkActive="activeRoute"
          routerLink="/contact"
        >
          CONTACT</a
        >
        <div
          class="line yellow"
          [ngClass]="{ open: route === 'contact' }"
        ></div>
      </li>
    </ul>
  </nav>
  <div class="spaceHolder" (click)="closeNav()"></div>
</body>
