main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pillar {
  width: 20%;
}

#pillars {
  display: flex;
  height: 100vh;
  width: 80%;
  position: absolute;
  z-index: -1;
  top: 10px;
}
#projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}
.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h3 {
  font-family: "Rock Salt";
  font-size: 30px;
  padding: 50px 0px 10px 0px;
  color: yellow;
}
h4 {
  font-family: "Rock Salt";
}
.computer {
  align-self: center;
  width: 200px;
  height: 150px;
  background-image: url("./../../assets/emptyLaptopScreen.jpeg");
  background-position: center;
  background-size: 200px;
  background-repeat: no-repeat;
}
.coverPic {
  position: relative;
  z-index: 1;
  left: 50%;
  transform: translateX(-75px);
  top: 15px;
  width: 149px;
  height: 95px;
  border-radius: 3px;
}
#projects {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid rgb(0, 0, 56);
}
.project {
  border-top: 2px solid rgb(0, 0, 56);
  width: 100%;
  background: white;
  z-index: 1;
}
.phonePic {
  position: relative;
  left: 7px;
  top: 13px;
  width: 34px;
  height: 65px;
  border-radius: 1px;
  border-right: 1px solid black;
}
.phone {
  position: relative;
  bottom: 50px;
  left: 150px;
  width: 50px;
  height: 100px;
  background-image: url("./../../assets/iphoneBlank.png");
  background-position: center;
  background-size: 100px;
  background-repeat: no-repeat;
  z-index: 1;
}
.hideMobile {
  display: none;
}
h5 {
  padding-bottom: 50px;
  font-family: "Raleway";
  color: yellow;
}
#skillSet {
  width: 100%;
  height: 300px;
  background: rgb(0, 0, 56);
  border-radius: 10px;
  position: relative;
}
#skillContainer {
  margin-top: 20px;
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cursor {
  width: 5px;
  height: 12px;
  background: white;
  margin-top: 0;
  margin-left: 5px;
}
#showContainer {
  color: yellow;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}
.line {
  color: yellow;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  font-size: 12px;
  font-family: "Turret Road", cursive;
  margin: 5px 5px 0px 5px;
}
.line p {
  padding-right: 5px;
}
.command {
  transition: "500ms linear";
}
.spread {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.folder {
  width: 20%;
}
.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 20px;
}
.skills .folder {
  width: 40%;
  padding: 5px 5px 0px 5px;
  border: 1px solid transparent;
}
.skills .folder:hover {
  border: 1px solid white;
}
@media screen and (min-width: 768px) {
  .computer {
    width: 400px;
    height: 300px;
    background-size: 400px;
  }
  .hideMobile {
    display: flex;
  }
  .pillar {
    width: 15%;
  }

  #pillars {
    display: flex;
    height: 100vh;
    width: 70%;
    position: absolute;
    z-index: -1;
    top: 10px;
  }
  .coverPic {
    top: 30px;
    width: 301px;
    transform: translateX(-150.5px);
    height: 190px;
    border-radius: 6px;
  }
  .phonePic {
    left: 13px;
    top: 36px;
    width: 68.5px;
    height: 123px;
  }
  .phone {
    position: relative;
    bottom: 100px;
    left: 310px;
    width: 100px;
    height: 200px;
    background-size: 200px;
  }
  i {
    font-size: 50px;
    color: black;
    z-index: 2;
  }
  .project {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    background: white;
  }
  #projects {
    width: 80%;
  }
  .project:hover {
    transform: scale(1.05);
  }
  #projectInfo {
    width: 50%;
  }
  h3 {
    font-size: 60px;
    color: yellow;
    margin-top: 100px;
  }
  h4 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  h5 {
    font-size: 25px;
    color: yellow;
    margin-bottom: 100px;
  }
  #elevatorPitch {
    width: 80%;
    font-family: "Raleway", sans-serif;
  }
  .icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  #skillSet {
    height: 450px;
  }
  #skillContainer {
    width: 60%;
  }
  #cursor {
    width: 10px;
    height: 20px;
    background: white;
    margin-top: 0;
    margin-left: 5px;
  }
  .line {
    font-size: 20px;
    margin: 15px 15px 0px 15px;
  }
  .line p {
    padding-right: 15px;
  }

  .folder {
    width: 20%;
  }
  .skills {
    font-size: 20px;
  }
  #skillSet i {
    position: absolute;
    right: 15px;
    bottom: 15px;
    color: yellow;
  }
}
