<main>
  <div id="projectsContainer">
    <h3 [@fadeTitle]>PROJECTS</h3>
    <h5 [@fadeTitle]>Projects I've worked on</h5>
    <div id="pillars" [@fadeIn]>
      <div
        *ngFor="let pillar of pillars; index as i"
        class="{{ pillar.class }}"
        [@changePosition]="pillar.state"
      ></div>
    </div>

    <div id="projects" [@swingUp]>
      <div
        class="project flexColumn"
        *ngFor="let project of projects; index as i"
        (click)="moreInfo(i)"
      >
        <div id="projectInfo" class="flexColumn">
          <h4>{{ project.projectName }}</h4>
          <div id="elevatorPitch" class="hideMobile flexColumn">
            <h4>{{ project.date }}</h4>
            <p>{{ project.elevator }}</p>
            <p id="technology">
              <span>Technologies: </span> {{ project.techSpecs }}
            </p>
            <div class="icons">
              <i class="fab fa-github" (click)="goToLink(project.github)"></i>
              <i
                class="far fa-eye"
                *ngIf="project.live === true"
                (click)="goToLink(project.link)"
              ></i>
            </div>
          </div>
        </div>
        <div class="computer">
          <img class="coverPic" src="{{ project.coverPic }}" alt="" />
          <div *ngIf="project.mobile === true" class="phone">
            <img src="{{ project.mobilePic }}" alt="" class="phonePic" />
          </div>
        </div>
        <!-- Elevator pitch shows up when clicked in mobile only -->
        <div id="moreInfo" class="hideComputer flexColumn">
          <div *ngIf="project.moreInfo" id="elevatorPitch" class="flexColumn">
            <p id="date">{{ project.date }}</p>
            <p>{{ project.elevator }}</p>
            <p id="technology">
              <span>Technologies: </span> {{ project.techSpecs }}
            </p>
            <div class="icons">
              <i class="fab fa-github" (click)="goToLink(project.github)"></i>
              <i
                class="far fa-eye"
                *ngIf="project.live === true"
                (click)="goToLink(project.link)"
              ></i>
            </div>
          </div>
        </div>
        <!--  -->
      </div>
    </div>
  </div>
  <div [@swingUp] id="skillContainer">
    <h4>Technical Skills</h4>
    <div id="skillSet">
      <p id="cursor" [@cursor]="cursor" *ngIf="!startSkill"></p>
      <div
        class="skill"
        *ngFor="let skill of skillsList; index as i"
        [class.hide]="skill.last == true"
      >
        <p *ngIf="!skill.last && skill.write" [@type]>
          {{ skill.skill }}
        </p>
        <p
          id="cursor"
          [@cursor]="cursor"
          *ngIf="skill.cursor && !skill.last"
        ></p>
      </div>
      <div id="lastSkill">
        <p *ngIf="lastSkill.write" class="skill">{{ lastSkill.skill }}</p>
        <p id="cursor" *ngIf="lastSkill.write" [@cursor]="cursor"></p>
      </div>
    </div>
    <i
      [ngClass]="playAgain == true ? 'showPlay' : 'hidePlay'"
      (click)="replay()"
      class="far fa-play-circle"
    ></i>
  </div>
  <footer [@swingUp]>
    <a (click)="goToLink('https://www.linkedin.com/in/henry-overholt/')"
      ><i class="fab fa-linkedin"></i
    ></a>
    <a routerLinkActive="hideHome" routerLink="/home"
      ><img
        src="./../assets/henryOLogoW.png"
        alt="Henry O Logo"
        id="footerLogo"
    /></a>
    <a (clcik)="goToLink('https://github.com/Henry-Overholt')"
      ><i id="linkedIn" class="fab fa-github-square"></i
    ></a>
  </footer>
</main>
