main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pillar {
  width: 20%;
}

#pillars {
  display: flex;
  height: 100vh;
  width: 80%;
  position: absolute;
  z-index: -1;
  top: 10px;
}
#projectsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h3 {
  font-family: "Fugaz One", cursive;
  font-size: 25px;
  padding: 50px 0px 10px 0px;
  color: yellow;
}
h4 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-align: center;
}
.computer {
  align-self: center;
  width: 250px;
  height: 200px;
  /* background-image: url("./../../assets/emptyLaptopScreen.jpeg");
  background-position: center;
  background-size: 250px; */
  background-repeat: no-repeat;
}
.coverPic {
  z-index: 1;
  width: 80%;
}
#projects {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid rgb(0, 0, 56);
}
.project {
  border-top: 2px solid rgb(0, 0, 56);
  width: 100%;
  background: white;
  z-index: 1;
}

.hideMobile {
  display: none;
}
h5 {
  padding-bottom: 50px;
  font-family: "Roboto";
  color: yellow;
}
#skillSet {
  width: 100%;
  height: 320px;
  background: rgb(0, 0, 56);
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-shadow: 5px 5px 5px grey;
}
#skillContainer {
  margin-top: 20px;
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cursor {
  width: 13px;
  height: 20px;
  background: white;
  margin: 5px;
}
.skill {
  color: yellow;
  font-family: "Turret Road";
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
  margin: 5px;
  padding: 3px;
  height: 10px;
}
#lastSkill {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
}
/* #lastSkill .class {
  width: 20%;
  border: 1px solid yellow;
} */
.hide {
  display: none;
}
#skillContainer i {
  font-size: 35px;
  margin-top: 5px;
}
.hidePlay {
  visibility: hidden;
}
.showPlay {
  visibility: visible;
  transition: "0.5s";
}
#elevatorPitch {
  width: 90%;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  text-indent: 10px;
}
#elevatorPitch h4 {
  font-family: "Roboto";
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0px 2px 0px 10px;
}
i {
  font-size: 30px;
  color: black;
}
button {
  border: 1px solid rgb(0, 0, 56);
  background: rgb(0, 0, 56);
  border-radius: 10px;
  margin-bottom: 5px;
  width: 50%;
  color: yellow;
  font-size: 20px;
}
#moreInfo {
  width: 100%;
  margin-bottom: 5px;
}

#technology {
  padding: 10px 0px 10px 0px;
}
#technology span {
  color: yellow;
  background: rgb(0, 0, 56);
  padding: 2px;
  border-radius: 4px;
  margin-right: 3px;
  font-weight: bold;
}
#date {
  font-size: 20px;
  font-weight: bold;
}
footer {
  display: none;
}
#about {
  border: 2px solid rgb(0, 0, 56);
  color: rgb(0, 0, 56);
  border-radius: 30px;
  font-size: 12px;
  font-family: "Fugaz One";
  text-decoration: none;
  padding: 10px;
}
#mediumLogo {
  border: 3px solid rgb(0, 0, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  margin-left: 10px;
}
.tinyPath {
  stroke-dasharray: 93;
  animation: continueDash 20s linear 2s;
  animation-iteration-count: infinite;
}
@keyframes continueDash {
  to {
    stroke-dashoffset: 200;
  }
}
@media screen and (min-width: 768px) {
  .hideMobile {
    display: flex;
  }
  .hideComputer {
    display: none;
  }
  .pillar {
    width: 15%;
  }

  #pillars {
    display: flex;
    height: 100vh;
    width: 70%;
    position: absolute;
    z-index: -1;
    top: 10px;
  }
  .coverPic {
    top: 30px;
    width: 50%;
    /* width: 40%; */
    /* transform: translateX(-150.5px);
    left: 200px; */
    margin-bottom: 10px;

    /* height: 190px; */
  }

  i {
    font-size: 40px;
    color: rgb(0, 0, 56);
    z-index: 2;
  }
  .project {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    background: white;
    padding-bottom: 15px;
  }
  #projects {
    width: 90%;
  }
  .project:hover {
    transform: scale(1.05);
  }
  #projectInfo {
    width: 55%;
    /* width: 70%; */
  }
  h3 {
    font-size: 70px;
    color: yellow;
    margin-top: 100px;
  }
  h4 {
    font-size: 25px;
    margin-bottom: 5px;
    font-family: "Fugaz One";
    color: rgb(0, 0, 56);
  }

  h5 {
    font-size: 25px;
    color: yellow;
    margin-bottom: 100px;
  }
  #elevatorPitch {
    width: 80%;
    font-family: "Raleway", sans-serif;
  }
  .icons {
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    width: 100%;
  }

  #skillSet {
    height: 450px;
    justify-content: flex-start;
  }
  #skillContainer {
    width: 60%;
  }
  #cursor {
    width: 20px;
    height: 30px;
    background: white;
    margin-top: 5px;
    margin-left: 10px;
  }
  .skill {
    font-size: 30px;
    margin: 5px;
    padding: 6px;
    height: 20px;
  }
  #lastSkill {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  #skillContainer i {
    margin-top: 10px;
    font-size: 55px;
  }
  #projectsContainer p {
    text-indent: 10px;
    font-size: 15px;
  }
  .date {
    font-size: 30px;
  }
  #elevatorPitch h4 {
    font-size: 20px;
    font-family: "Raleway";
    font-weight: bold;
  }
  footer {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
  }
  #footerLogo {
    height: 60px;
    margin: 0;
    padding: 0;
  }
  #about {
    font-size: 20px;
    border: 3px solid rgb(0, 0, 56);
    margin: 10px 0px 40px 0px;
  }
  #about:hover {
    transform: scale(1.4);
    border-color: yellow;
    background: rgb(0, 0, 56);
    color: yellow;
    transition: all 0.5s ease-in-out;
  }
}
@media screen and (min-width: 1100px) {
  .coverPic {
    width: 450px;

    margin-bottom: 10px;
    /* height: 190px; */
  }
  h3 {
    font-size: 90px;
  }
  h4 {
    font-size: 35px;
    font-family: "Fugaz One";
  }
}
