<main>
  <div id="projectsContainer">
    <h3 [@fadeTitle]>PROJECTS</h3>
    <h5 [@fadeTitle]>Some of the things I've built</h5>
    <div id="pillars" [@fadeIn]>
      <div
        *ngFor="let pillar of pillars; index as i"
        class="{{ pillar.class }}"
        [@changePosition]="pillar.state"
      ></div>
    </div>

    <div id="projects" [@swingUp]>
      <div
        class="project flexColumn"
        *ngFor="let project of projects; index as i"
        (click)="moreInfo(project.index)"
      >
        <div id="projectInfo" class="flexColumn">
          <h4>{{ project.projectName }}</h4>
          <div id="elevatorPitch" class="hideMobile flexColumn">
            <p>{{ project.elevator }}</p>
            <div class="icons">
              <a href="{{ project.github }}"><i class="fab fa-github"></i></a>
              <a *ngIf="project.live === true" href="{{ project.link }}"
                ><i class="far fa-eye"></i
              ></a>
            </div>
          </div>
        </div>
        <div class="computer">
          <img class="coverPic" src="{{ project.coverPic }}" alt="" />
          <div *ngIf="project.mobile === true" class="phone">
            <img src="{{ project.mobilePic }}" alt="" class="phonePic" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div [@swingUp] id="skillContainer">
    <h4>Skills</h4>
    <div id="skillSet">
      <div class="line" *ngFor="let command of commands; index as i">
        <div id="showContainer" *ngIf="command.show">
          <p class="position ">{{ command.position }}</p>
          <p class="command" [@type]>{{ command.command }}</p>
          <div class="{{ command.class }}" *ngIf="command.spread">
            <p class="folder" *ngFor="let folder of command.folders">
              {{ folder }}
            </p>
          </div>
        </div>
      </div>

      <p id="cursor" *ngIf="cursor"></p>
      <i *ngIf="playAgain" (click)="replay()" class="far fa-play-circle"></i>
    </div>
  </div>
</main>
