<div id="wrapper">
  <form
    [@fadeInRight]
    id="contactForm"
    #contactForm="ngForm"
    (ngSubmit)="submitForm(contactForm)"
  >
    <h1>SAY 'HELLO'</h1>
    <h2>
      Feel free to reach out regarding new opportunites, or projects that I
      could contribute to.
    </h2>
    <div id="info">
      <label for="name">First Name:</label>
      <input
        name="name"
        id="name"
        type="text"
        placeholder="Your Name"
        ngModel
      />
      <label for="email">Email Address:</label>
      <input name="email" id="email" type="text" placeholder="Email" ngModel />
    </div>
    <label for="subject">Subject:</label>
    <input
      name="subject"
      id="subject"
      type="text"
      placeholder="Subject"
      ngModel
    />
    <label for="message">Message</label>
    <textarea
      name="message"
      id="message"
      cols="30"
      rows="10"
      placeholder="Message"
      ngModel
    ></textarea>
    <button>SEND</button>
  </form>

  <div id="personalContact" [@fadeInLeft]>
    <div id="profilePic"></div>
    <div id="socialHandles">
      <h3>FIND ME @</h3>
      <a (click)="goToLink(1)">
        <i class="fab fa-linkedin"></i>
        <h4 class="showLargeScreen">/henry-overholt</h4>
      </a>
      <a (click)="goToLink(2)">
        <i id="github" class="fab fa-github-square"></i>
        <h4 class="showLargeScreen">/henry-overholt</h4>
      </a>
    </div>
  </div>
</div>
