#wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-family: "Raleway";
  height: 90vh;
  background: url("./../../assets/blueGoldPaint.jpg");
  background-size: cover;
  background-position: center;
}
#contactForm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 95%;
  margin-top: 50px;
  background: white;
  border-radius: 20px;
  padding: 5px;
}
label {
  text-indent: -10000px;
}
#contactForm h1 {
  align-self: center;
  font-family: "Rock Salt";
}
input {
  border: 2px solid rgb(0, 0, 56);
  height: 25px;
  font-size: 12px;
  margin: 0px 2px 0px 2px;
  border-radius: 5px;
}
textarea {
  border: 2px solid rgb(0, 0, 56);
  margin: 0px 2px 5px 2px;
  border-radius: 5px;
  font-size: 12px;
}
textarea ::placeholder {
  font-size: 12px;
}
button {
  border: 2px solid rgb(0, 0, 56);
  color: white;
  font-family: "Rock Salt";
  background: rgb(0, 0, 56);

  border-radius: 10px;
  margin: 5px;
}
#info input {
  width: 50%;
}
#info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#personalContact {
  display: none;
}
h2 {
  font-size: 12px;
  text-align: center;
  margin-bottom: 5px;
}
@media screen and (min-width: 768px) {
  #contactForm {
    width: 40%;
    margin-top: 0;
  }
  #wrapper {
    flex-direction: row-reverse;
    justify-content: center;
    height: 90vh;
  }
  input {
    height: 40px;
    font-size: 15px;
    margin: 1px 5px 1px 5px;
  }
  textarea {
    font-size: 15px;
    margin: 1px 5px 5px 5px;
  }
  #personalContact {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 45%;
    margin-right: 10px;
  }
  img {
    width: 200px;
    border: 5px solid yellow;
    border-radius: 100%;
  }
  #socialHandles {
    margin-left: 10px;
    width: 60%;
    background: white;
    border-radius: 20px;
  }
  h1 {
    margin-bottom: 5px;
  }
  h2 {
    font-size: 15px;
    text-align: center;
    margin-bottom: 10px;
  }
  h4 {
    font-family: "Rock Salt";
    font-size: 20px;
  }
  h3 {
    font-size: 20px;
    font-family: "Rock Salt";
  }
  i {
    font-size: 50px;
    padding-right: 10px;
    border-right: 4px solid rgb(0, 0, 56);
    margin-right: 15px;
  }
  a {
    display: flex;
    align-items: center;
    margin: 10px;
    text-decoration: none;
    color: rgb(0, 0, 56);
  }
  .fa-linkedin {
    color: blue;
  }
  .fa-github-sqaure {
    color: black;
  }
}
