<header>
  <a routerLink="/home">
    <img
      id="headerLogo"
      class="logo"
      src="./../assets/henryOLogoTransparent.png"
      alt="Henry Overholt's Logo"
    />
  </a>
  <!-- <i id="showNav" class="fas fa-bars"></i> -->
  <nav>
    <ul>
      <li><a routerLinkActive="activeRoute" routerLink="/story">STORY</a></li>
      <li>
        <a routerLinkActive="activeRoute" routerLink="/projects">PROJECTS</a>
      </li>
      <li>
        <a routerLinkActive="activeRoute" routerLink="/contact">SAY 'HELLO'</a>
      </li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
