header {
  position: relative;
  top: 0;
  background: white;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 50px;
  color: rgb(0, 0, 56);
  font-family: "Roboto", sans-serif;
  margin: 5px 10px 0px 0px;
  border-bottom: 3px solid rgb(0, 0, 56);
}
#headerLogo {
  width: 110px;
  display: none;
}
/* #smallLogo {
  width: 60px;
} */
.tinyPath {
  stroke-dasharray: 93;
  animation: continueDash 20s linear 2s;
  animation-iteration-count: infinite;
}
@keyframes continueDash {
  to {
    stroke-dashoffset: 200;
  }
}
#smallLogo {
  border: 3px solid rgb(0, 0, 56);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 5px;
  margin-left: 10px;
}
#mediumLogo {
  display: none;
}
#largeLogo {
  display: none;
}
nav {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
a {
  color: rgb(0, 0, 56);
  text-decoration: none;
}
.fas {
  margin-right: 20px;
  font-size: 30px;
}
.fas:hover {
  transform: scale(1.1);
  background: yellow;
  padding: 5px;
  border-radius: 10px;
}
#dropDownNav:hover > #smallNav {
  visibility: visible;
}
#bigNav {
  display: none;
}
#smallNav li:hover {
  background: yellow;
}
.hideHome {
  visibility: hidden;
  transition: "1000ms";
}
#smallNav {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 20px;
  z-index: 2;
}
#smallNav li {
  border: 1px solid rgb(0, 0, 56);
  background: white;
  padding: 5px;
}
li {
  list-style: none;
  width: 100%;
}

i {
  font-size: 40px;
}

@media screen and (min-width: 768px) {
  #smallLogo {
    display: none;
  }
  #mediumLogo {
    border: 3px solid rgb(0, 0, 56);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 10px;
    margin-left: 10px;
  }
  nav {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
  }

  #mediumLogo:hover {
    transform: scale(1.05);
    transition: all 0.5s ease-in-out;
  }
  a {
    font-size: 17px;
    padding: 16px 10px 16px 10px;
    border-radius: 10px;
  }
  #logoWrapper a:hover {
    border: none;
  }
  #contact {
    border: 4px solid yellow;
    padding: 12px 6px 12px 6px;
  }
  #contact:hover {
    border-color: rgb(0, 0, 56);
  }
  a:hover {
    font-weight: bold;
    border: 4px solid rgb(0, 0, 56);
    transition-duration: 0.5s;
  }

  header {
    height: 100px;
  }
  #bigNav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
  }
  #dropDownNav {
    display: none;
  }
  .activeRoute {
    background-color: yellow;

    padding: 16px 10px 16px 10px;
    border-radius: 10px;
    transition-duration: 0.5s;
  }
  #headerLogo {
    width: 200px;
    /* display: initial; */
  }
  #smallLogo {
    margin-left: 20px;
    /* width: 100px; */
    /* display: none; */
  }
}
@media screen and (min-width: 1100px) {
  a {
    font-size: 23px;
  }
}
