/* 
font-family: 'Rock Salt', ;
font-family:'Raleway'
*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  color: rgb(0, 0, 56);
  font-family: "Raleway";
  margin: 5px 10px 10px 0px;
  border-bottom: 3px solid rgb(0, 0, 56);
}
#headerLogo {
  width: 110px;
}
nav {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
a {
  color: rgb(0, 0, 56);
  text-decoration: none;
}
.fas {
  margin-right: 20px;
  font-size: 30px;
}
.fas:hover {
  transform: scale(1.1);
}
#dropDownNav:hover > #smallNav {
  visibility: visible;
}
#bigNav {
  display: none;
}
#smallNav {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 20px;
}
#smallNav li {
  border: 1px solid black;
  background: white;
  padding: 5px;
}
li {
  list-style: none;
  width: 100%;
}

@media screen and (min-width: 768px) {
  nav {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    margin-left: 10px;
  }
  li:hover {
    text-decoration: underline;
    font-weight: bold;
    transition-duration: 0.5s;
  }
  .activeRoute {
    padding: 8px;
    border-radius: 10px;
  }
  #headerLogo:hover {
    transform: scale(1.05);
  }
  a {
    font-size: 20px;
  }
  #bigNav {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 80%;
  }
  #dropDownNav {
    display: none;
  }
  .activeRoute {
    background-color: yellow;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    transition-duration: 0.5s;
  }
  #headerLogo {
    width: 200px;
  }
}
