<header>
  <a routerLink="/home">
    <img
      id="headerLogo"
      class="logo"
      src="./../assets/henryOLogoTransparent.png"
      alt="Henry Overholt's Logo"
    />
  </a>
  <nav>
    <div id="dropDownNav">
      <i id="showNav" class="fas fa-bars"></i>
      <ul id="smallNav">
        <li><a routerLinkActive="activeRoute" routerLink="/story">STORY</a></li>
        <li>
          <a routerLinkActive="activeRoute" routerLink="/projects">PROJECTS</a>
        </li>
        <li>
          <a routerLinkActive="activeRoute" routerLink="/contact"
            >SAY 'HELLO'</a
          >
        </li>
      </ul>
    </div>
    <ul id="bigNav">
      <li><a routerLinkActive="activeRoute" routerLink="/story">STORY</a></li>
      <li>
        <a routerLinkActive="activeRoute" routerLink="/projects">PROJECTS</a>
      </li>
      <li>
        <a routerLinkActive="activeRoute" routerLink="/contact">SAY 'HELLO'</a>
      </li>
    </ul>
  </nav>
</header>
<router-outlet id="routerOutlet"></router-outlet>
<footer>
  <a href="https://www.linkedin.com/in/henry-overholt/"
    ><img src="./../assets/linkedinLogo.png" alt="LinkedIn" id="linkedIn"
  /></a>
  <a routerLink="/home"
    ><img
      src="./../assets/henryOLogoTransparent.png"
      alt="Henry O Logo"
      id="footerLogo"
  /></a>
  <a href="https://github.com/Henry-Overholt"
    ><img src="./../assets/githubLogo.png" alt="Github" id="github"
  /></a>
</footer>
