<header>
  <div id="logoWrapper">
    <a routerLink="/home" id="logo">
      <img
        id="headerLogo"
        class="logo"
        src="./../assets/henryOLogoW.png"
        alt="Henry Overholt's Logo"
      />
      <img
        id="smallLogo"
        class="logo"
        src="./../assets/favicon.png"
        alt="Henry O icon image"
      />
    </a>
  </div>
  <nav>
    <div id="dropDownNav">
      <i id="showNav" class="fas fa-bars"></i>
      <ul id="smallNav">
        <li>
          <a routerLinkActive="activeRoute" routerLink="/story">MY STORY</a>
        </li>
        <li>
          <a routerLinkActive="activeRoute" routerLink="/projects">PROJECTS</a>
        </li>
        <li>
          <a routerLinkActive="activeRoute" routerLink="/contact"
            >SAY 'HELLO'</a
          >
        </li>
      </ul>
    </div>
    <ul id="bigNav">
      <li><a routerLinkActive="activeRoute" routerLink="/story">STORY</a></li>
      <li>
        <a routerLinkActive="activeRoute" routerLink="/projects">PROJECTS</a>
      </li>
      <li>
        <a routerLinkActive="activeRoute" id="contact" routerLink="/contact"
          >SAY 'HELLO'</a
        >
      </li>
    </ul>
  </nav>
</header>
<router-outlet id="routerOutlet"></router-outlet>
<footer>
  <a href="https://www.linkedin.com/in/henry-overholt/"
    ><i class="fab fa-linkedin"></i
  ></a>
  <a routerLinkActive="hideHome" routerLink="/home"
    ><img
      src="./../assets/henryOLogoTransparent.png"
      alt="Henry O Logo"
      id="footerLogo"
  /></a>
  <a href="https://github.com/Henry-Overholt"
    ><i id="linkedIn" class="fab fa-github-square"></i
  ></a>
</footer>
