<div class="project flexColumn" (click)="showMoreInfo(i)">
  <div id="projectInfo" class="flexColumn">
    <h4>{{ project.projectName }}</h4>
    <div id="elevatorPitch" class="hideMobile flexColumn">
      <h4>{{ project.date }}</h4>
      <p *ngFor="let elevator of project.elevators" class="elevatorPitch">
        {{ elevator }}
      </p>
      <p id="technology"><span>Utilized:</span> {{ project.techSpecs }}</p>
      <div class="icons">
        <i class="fab fa-github" (click)="goToLink(project.github)"></i>
        <i
          class="fas fa-binoculars"
          *ngIf="project.live === true"
          (click)="goToLink(project.link)"
        ></i>
      </div>
    </div>
  </div>

  <img class="coverPic" src="{{ project.coverPic }}" alt="" />
  <!-- Elevator pitch shows up when clicked in mobile only -->
  <div id="moreInfo" class="hideComputer flexColumn">
    <div *ngIf="moreInfo" id="elevatorPitch" class="flexColumn">
      <p id="date">{{ project.date }}</p>
      <p *ngFor="let elevator of project.elevators" class="elevatorPitch">
        {{ elevator }}
      </p>
      <p id="technology"><span>Utilized:</span> {{ project.techSpecs }}</p>
      <div class="icons">
        <i class="fab fa-github" (click)="goToLink(project.github)"></i>
        <i
          class="fas fa-binoculars"
          *ngIf="project.live === true"
          (click)="goToLink(project.link)"
        ></i>
      </div>
    </div>
  </div>
</div>
