<div id="wrapper">
  <div id="timeline">
    <h2>Timeline</h2>
    <div id="timelineContainer">
      <button [ngClass]="up == true ? 'on' : 'off'" (click)="handleUpArrow()">
        <i class="fas fa-arrow-circle-left"></i>
      </button>
      <div id="timelineHolder">
        <div id="currentTimeline">
          <img id="logo" src="{{ currentTimeline.logo }}" alt="" />
        </div>
        <div id="timelineBody">
          <div id="timelineTitle">
            <h3 id="date">{{ currentTimeline.date }}</h3>
            <h4 id="company">
              <em>{{ currentTimeline.company }}</em> ~
              {{ currentTimeline.position }}
            </h4>
          </div>
          <div id="body" *ngFor="let string of strings; index as i">
            <p>{{ string }}</p>
          </div>
        </div>
      </div>
      <button
        [ngClass]="down == true ? 'on' : 'off'"
        (click)="handleDownArrow()"
      >
        <i class="fas fa-arrow-circle-right"></i>
      </button>
    </div>
    <div id="dots">
      <div *ngFor="let dot of dots; index as i">
        <p
          class="dot"
          [ngClass]="currentTimeline.index === i ? 'selected' : 'unselected'"
        ></p>
      </div>
    </div>
  </div>
</div>
