<div id="wrapper">
  <div id="myStory">
    <h1 [@fadeInLate]>ABOUT ME</h1>
    <div [@fadeIn] id="story">
      <div class="body">
        <p>
          I'm a Frontend Developer with a background in non-profit and campaign
          work. I made the career switch into software development because of my
          love of problem solving. I love to wrestle with challenging problems,
          and create exciting solutions.
        </p>
        <p>
          I was hooked on programming from the very first time I ran a line of
          my code, and saw the result on the screen. I'm working towards
          becoming a full-stack developer, trying to learn some backend
          technologies as I develop my frontend skills. I'm interested in
          working on ambitious projects with positive solution-oriented people.
        </p>
        <p>
          When I'm not writing code, I'm on the hunt for an incredible cup of
          coffee, or enjoying a great soccer game. Along with my technical
          skills, I can also finish almost any quote from the 1984 classic,
          <em>Ghostbusters</em>.
        </p>
        <p>
          Born and raised in Pennsylvania, went to school in Ohio, now living in
          beautiful Michigan.
        </p>
      </div>
      <div id="spaceHolder"></div>
    </div>
    <div id="interestsWheel" class="spinWheel" (click)="handleWheelSpin()">
      <div id="hole"></div>

      <div id="six" class="ring flex">
        <div id="five" class="ring flex">
          <div id="four" class="ring flex">
            <div id="three" class="ring flex">
              <div id="two" class="ring flex">
                <div id="one" class="ring flex">
                  <div id="zero" class="ring flex"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <i id="record" class="fas fa-compact-disc topBottom"></i>
      <i id="coffee" class="fas fa-coffee"></i>
      <i id="football" class="fas fa-futbol middle"></i>
      <i id="code" class="fas fa-laptop-code middle"></i>
    </div>
    <div id="recordArm">
      <div id="needle"></div>
      <div id="arm"></div>
      <div id="backend"></div>
    </div>
  </div>
  <app-timeline></app-timeline>
  <app-button [@fadeIn] path="contact" buttonTxt="CONTACT ME"></app-button>

  <app-footer></app-footer>
</div>
