<div id="wrapper">
  <div id="myStory">
    <h1 [@fadeInLate]>ABOUT ME</h1>
    <div [@fadeIn] id="story">
      <div class="body">
        <p>
          I'm a Frontend Developer with a background in non-profit and campaign
          work. I made the career switch into software development because of my
          love of problem solving. I love to wrestle with challenging problems,
          and create exciting solutions.
        </p>
        <p>
          I was hooked on programming from the very first time I ran a line of
          my code, and saw the result on the screen. I'm working towards
          becoming a full-stack developer, trying to learn some backend
          technologies as I develop my frontend skills. I'm interested in
          working on ambitious projects with positive solution-oriented people.
        </p>
        <p>
          When I'm not writing code, I'm on the hunt for an incredible cup of
          coffee, or enjoying a great soccer game. Along with my technical
          skills, I can also finish almost any quote from the 1984 classic,
          <em>Ghostbusters</em>.
        </p>
        <p>
          Born and raised in Pennsylvania, went to school in Ohio, now living in
          beautiful Michigan.
        </p>
      </div>
      <div id="spaceHolder"></div>
    </div>
    <div id="interestsWheel" class="spinWheel" (click)="handleWheelSpin()">
      <div id="hole"></div>

      <div id="six" class="ring flex">
        <div id="five" class="ring flex">
          <div id="four" class="ring flex">
            <div id="three" class="ring flex">
              <div id="two" class="ring flex">
                <div id="one" class="ring flex">
                  <div id="zero" class="ring flex"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <i id="record" class="fas fa-compact-disc topBottom"></i>
      <i id="coffee" class="fas fa-coffee"></i>
      <i id="football" class="fas fa-futbol middle"></i>
      <i id="code" class="fas fa-laptop-code middle"></i>
    </div>
    <div id="recordArm">
      <div id="needle"></div>
      <div id="arm"></div>
      <div id="backend"></div>
    </div>
  </div>

  <div id="timeline">
    <h2 [@fadeIn]>My Career Timeline</h2>
    <div [@fadeIn] id="timelineContainer">
      <button
        [ngClass]="up == true ? 'on' : 'off'"
        (click)="handleRightArrow()"
      >
        <i class="fas fa-arrow-circle-left"></i>
      </button>
      <div id="timelineHolder">
        <div id="currentTimeline">
          <img id="logo" src="{{ currentTimeline.logo }}" alt="" />
        </div>
        <div id="timelineBody">
          <div id="timelineTitle">
            <h3 id="date">{{ currentTimeline.date }}</h3>
            <h4 id="company">
              {{ currentTimeline.position }}
              <em>{{ currentTimeline.company }}</em>
            </h4>
          </div>
          <div
            id="body"
            *ngFor="let string of currentTimeline.strings; index as i"
          >
            <p>{{ string }}</p>
          </div>
        </div>
      </div>
      <button
        [ngClass]="down == true ? 'on' : 'off'"
        (click)="handleLeftArrow()"
      >
        <i class="fas fa-arrow-circle-right"></i>
      </button>
    </div>
    <div [@fadeIn] id="dots">
      <div *ngFor="let dot of dots; index as i">
        <p
          (click)="handleDotClick(i)"
          id="{{ dot.id }}"
          class="dot"
          [ngClass]="currentTimeline.index === i ? 'selected' : 'unselected'"
        ></p>
      </div>
    </div>
  </div>
  <a [@fadeIn] id="contact" routerLink="/contact">CONTACT ME</a>
  <footer>
    <a (click)="goToLink('https://www.linkedin.com/in/henry-overholt/')"
      ><i class="fab fa-linkedin"></i
    ></a>
    <a routerLink="/home">
      <div id="mediumLogo">
        <svg
          width="34.1"
          height="36"
          viewBox="0 0 35.1 36"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g
            id="svgGroup"
            stroke-linecap="round"
            fill-rule="evenodd"
            font-size="9pt"
            stroke="rgb(0, 0, 56)"
            stroke-width="0.25mm"
            fill="none"
            style="stroke: yellow; stroke-width: 1; fill: rgb(0, 0, 56)"
          >
            <path
              class="tinyPath"
              d="M 25.1 0 L 34.1 0 L 27.8 36 L 18.75 36 L 21.05 23 L 11.3 23 L 9.05 36 L 0 36 L 6.35 0 L 15.35 0 L 12.65 15.2 L 22.4 15.2 L 25.1 0 Z"
              id="0"
              vector-effect="non-scaling-stroke"
            />
          </g>
        </svg></div
    ></a>
    <a (click)="goToLink('https://github.com/Henry-Overholt')"
      ><i id="linkedIn" class="fab fa-github-square"></i
    ></a>
  </footer>
</div>
