<main>
  <app-timeline></app-timeline>
  <!-- <app-sills-display></app-sills-display> -->
  <!-- <div id="interestsWheel" class="spinWheel" (click)="handleWheelSpin()">
    <div id="hole"></div>

    <div id="six" class="ring flex">
      <div id="five" class="ring flex">
        <div id="four" class="ring flex">
          <div id="three" class="ring flex">
            <div id="two" class="ring flex">
              <div id="one" class="ring flex">
                <div id="zero" class="ring flex"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <i id="record" class="fas fa-compact-disc topBottom"></i>
    <i id="coffee" class="fas fa-coffee"></i>
    <i id="football" class="fas fa-futbol middle"></i>
    <i id="code" class="fas fa-laptop-code middle"></i>
  </div>
  <div id="recordArm">
    <div id="needle"></div>
    <div id="arm"></div>
    <div id="backend"></div>
  </div> -->
</main>
