h1 {
  font-family: "Rock Salt";
  z-index: 1;
  font-size: 50px;
  border: 6px solid transparent;
  border-radius: 5px;
  padding: 8px;
  background: white;
}
#hello {
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 700;
}
#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  color: rgb(0, 0, 56);
  font-family: "Raleway";
  height: 70vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#textHolder {
  font-size: 12px;
  width: 90%;
  padding: 4px;

  z-index: 1;
  top: 15%;
  border-radius: 10px;
}
h2 {
  width: 100%;
}
#bubbleContainer {
  height: 50vh;
  width: 100%;
  position: absolute;
  top: 10%;
}
.bubble {
  height: 10%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.blue {
  background: rgb(0, 0, 56);
}
.yellow {
  background: yellow;
}
.lg {
  width: 95vw;
}
.md {
  width: 85vw;
}
.sm {
  width: 75vw;
}

p {
  color: red;
}
.right {
  left: -100vw;
}
.left {
  left: 100vw;
}

@media screen and (min-width: 768px) {
  h1 {
    font-family: "Rock Salt";
    padding: 8px;
    font-size: 100px;
  }
  #hello {
    font-size: 30px;
    margin-top: 10px;
  }
  #main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  main {
    height: 75vh;

    justify-content: center;
  }

  #textHolder {
    font-size: 20px;
    width: 45%;
    z-index: 1;
    top: 20%;
    border-radius: 10px;
    margin-left: 10px;
  }

  #bubbleContainer {
    position: absolute;
    top: 150px;
  }
}
