<main>
  <div id="main">
    <h1 [@fadeInName]="currentState">Henry O.</h1>
    <div id="textHolder" [@fadeInP]>
      <h2 id="hello">Hi, I'm Henry,</h2>
      <h3 id="welcome">
        I'm a Frontend Developer based in the Detroit area, looking for
        challenging and creative projects to work on.
      </h3>
      <h3>JavaScript | TypeScript | Angular 7 | HTML | CSS</h3>
    </div>
  </div>
  <div id="bubbleContainer">
    <div
      *ngFor="let bubble of bubbles; index as i"
      class="{{ bubble.class }}"
      [@changePosition]="bubble.state"
    ></div>
  </div>
</main>
